version: '3.3'
services:
    hcsqueue:
      image: vromero/activemq-artemis:2.10.1-alpine
      restart: on-failure
      ports:
        # ui
        - "8161:8161"
        # jms
        - "61616:61616"
      networks: [backing-services]
      volumes: [
        "activemq-data:/var/lib/artemis/data"
        , "activemq-data:/var/lib/artemis/etc"
        , "activemq-data:/var/lib/artemis/etc-override"
        , "activemq-data:/var/lib/artemis/lock"
        , "activemq-data:/opt/jmx-exporter/etc-override"
      ]

      environment: [
        DISABLE_SECURITY=true
        , ARTEMIS_USERNAME=hcsdemo
        , ARTEMIS_PASSWORD=hcsdemo
        , RESTORE_CONFIGURATION=true
      ]
    hcs-relay:
        depends_on:
          - hcsqueue
        image: hederahashgraph/hcs-relay:latest
        restart: on-failure
        networks: [backing-services]

           
    player1:
      depends_on:
        - hcsqueue
      image: hederahashgraph/simple-message-demo:latest
      restart: always
      environment:
        - APPID=0
      tty: true
      networks: [backing-services]

    player2:
      depends_on:
        - hcsqueue
      image: hederahashgraph/simple-message-demo:latest
      restart: always
      environment:
        - APPID=1
      tty: true
      networks: [backing-services]

volumes:
  activemq-data: {}

networks:
  backing-services:
    driver: bridge

