# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
.env
*.classpath
.project
.settings

hcs-sxc-relay/target
hcs-sxc-relay/bin
hcs-sxc-relay/.project
hcs-sxc-relay/.settings

hcs-sxc-core/.idea/
hcs-sxc-core/target/
hcs-sxc-core/hcslib.iml
hcs-sxc-core/hcscore.iml
hcs-sxc-core/.classpath
hcs-sxc-core/.project
hcs-sxc-core/.settings
hcs-sxc-core/bin

hcs-sxc-examples/hcs-sxc-simple-message-demo/.settings
hcs-sxc-examples/hcs-sxc-simple-message-demo/.project
hcs-sxc-examples/.settings
hcs-sxc-plugins/.settings/org.eclipse.core.resources.prefs
/hcs-sxc-core/nbproject/
/hcs-sxc-core/nb-configuration.xml
nb-configuration.xml
org.eclipse.jdt.core.prefs
/hcs-sxc-proto/.settings
/hcs-sxc-plugins/hcs-sxc-plugins-persistence-in-memory/.settings
/hcs-sxc-examples/hcs-sxc-settlement-demo/target
hcs-sxc-examples/hcs-sxc-settlement-demo/h2data
/nbactions.xml
hcs-sxc-plugins/hcs-sxc-plugins-mirror-direct/target
hcs-sxc-plugins/hcs-sxc-plugins-mirror-queue-artemis/target
/hcs-sxc-examples/hcs-sxc-settlement-demo/nbactions-fatjar.xml
/hcs-sxc-examples/hcs-sxc-settlement-demo/nbactions.xml
hcs-sxc-plugins/hcs-sxc-plugins-persistence-hibernate/target
hcs-sxc-examples/hcs-sxc-settlement-demo/src/main/resources/config.yaml
/hcs-sxc-examples/hcs-sxc-settlement-demo-test/
