# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
.env
*.classpath
config.yaml
.project
.settings

hcs-relay/target
hcs-relay/bin
hcs-relay/.project
hcs-relay/.settings

hcs-lib/.idea/
hcs-lib/target/
hcs-lib/hcslib.iml
hcs-lib/.classpath
hcs-lib/.project
hcs-lib/.settings
hcs-lib/bin

hcs-sxc-examples/simple-message-demo/.settings
hcs-sxc-examples/simple-message-demo/.project
hcs-sxc-examples/.settings
hcs-sxc-plugins/.settings/org.eclipse.core.resources.prefs
/hcs-lib/nbproject/
/hcs-lib/nb-configuration.xml
nb-configuration.xml
org.eclipse.jdt.core.prefs
/hcs-sxc-proto/.settings
/hcs-sxc-plugins/lib-persistence-in-memory/.settings
/hcs-sxc-examples/settlement-demo/target
hcs-sxc-examples/settlement-demo/h2data/settlement-demo.mv.db
hcs-sxc-examples/settlement-demo/h2data/settlement-demo.trace.db
/nbactions.xml
