# Connection details to the MQ component
queue:
  # provider can be google, amazon, azure or mq
#  provider: amazon 
#  exchangeName: 
  provider: google 
  exchangeName: testExchange
#  provider: mq 
#  exchangeName: testExchange
  
  consumerTag: myConsumerTag
  producerTag: myProducerTag
  host: localhost
  port: 5672
  user: guest
  password: guest
  iterations: 5 # 0 for infinite
  delayMillis: 1000 # delay between each message
