<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.hedera.hcs.sxc.plugin.persistence.entities.HCSApplicationMessage" />
        <mapping class="com.hedera.hcs.sxc.plugin.persistence.entities.HCSTransaction" />
        <mapping class="com.hedera.hcs.sxc.plugin.persistence.entities.MirrorResponse" />
        <mapping class="com.hedera.hcs.sxc.plugin.persistence.entities.KeyStore" />
    </session-factory>
</hibernate-configuration>