# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
workflows:
  version: 2
  main:
    jobs:
      - build_hcs_sxc
jobs:
  build_hcs_sxc:
    docker:
      - image: maven:latest #adoptopenjdk:11-jdk-hotspot
        environment:
          # Customize the JVM maximum heap limit
          MAVEN_OPTS: -Xmx3200m
    steps:
      - checkout #HCS SXC
#HCS SXC
      - run:
          name: Running maven (validate, compile, test, package)
          command: mvn package
      # - save_cache:
      #     key: maven-v1-{{ .Branch }}-{{ checksum "pom.xml" }}
      #     paths:
      #       - ~/.m2
      - store_test_results:
          path: hcs-sxc-java-coverage/target/site/jacoco-aggregate
      - run:
          name: Upload Code Coverage
          command: bash <(curl -s https://codecov.io/bash)
