# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
workflows:
  version: 2
  main:
    jobs:
      - build_hcs_lib
jobs:
  build_hcs_lib:
    docker:
      - image: maven:latest #adoptopenjdk:11-jdk-hotspot
        environment:
          # Customize the JVM maximum heap limit
          MAVEN_OPTS: -Xmx3200m
    steps:
      - checkout #HCS Lib
      # - restore_cache:
      #     keys:
      #       - maven-v1-{{ .Branch }}-{{ checksum "pom.xml" }}
      #       - maven-v1-{{ .Branch }}
      #       - maven-v1-
#HCS java SDK
      # - run:
      #     name: create directory for hcs java sdk
      #     command: mkdir sdk
      # - run:
      #     name: git init for hcs java sdk
      #     command: cd sdk; git init
      # - run:
      #     name: Running git pull on hcs java sdk
      #     command: cd sdk; git clone -b "292-ConsensusMessage-doesn't-have-a-public-constructor" https://github.com/hashgraph/hedera-sdk-java
      # - run:
      #     name: Running maven (install - skipping tests) for hcs java sdk
      #     command: cd sdk/hedera-sdk-java; mvn install -Dcom.hedera.hashgraph.sdk.experimental=true -DskipTests
#HCS lib
      - run:
          name: Running maven (validate, compile, test, package)
          command: mvn package -Dcom.hedera.hashgraph.sdk.experimental=true
      # - save_cache:
      #     key: maven-v1-{{ .Branch }}-{{ checksum "pom.xml" }}
      #     paths:
      #       - ~/.m2
      - store_test_results:
          path: target/surefire-reports
