mirrorAddress: "34.66.214.12:6552"
mirrorReconnectDelay: 10  
topics:
  - topic: "0.0.1044"
catchupHistory: true
lastConsensusTimeFile: "./lastConsensusTime.txt"

queue:
  initialContextFactory: "org.apache.activemq.artemis.jndi.ActiveMQInitialContextFactory"
  tcpConnectionFactory: "tcp://hcsqueue:61616?jms.redeliveryPolicy.initialRedeliveryDelay=0&jms.redeliveryPolicy.backOffMultiplier=1&jms.redeliveryPolicy.maximumRedeliveries=5&jms.redeliveryPolicy.redeliveryDelay=500&jms.redeliveryPolicy.useExponentialBackOff=false"

