appNet:
  signMessages: false
  encryptMessages: false
  rotateKeys: false
  rotateKeyFrequency: 0
  topics:
    - topic: 0.0.1044
  persistenceLevel: "FULL"
  catchupHistory: true
  
HCSTransactionFee: 100000000

mirrorNode:
  address: "34.66.214.12:6552"
  # automatically disconnect/reconnect from mirror node every reconnectDelay seconds
  reconnectDelay: 10  

nodes:
  - address: 34.66.214.12:50211
    account: 0.0.4
# Commented out due to bug in java SDK
#  - address: 1.testnet.hedera.com:50211
#    account: 0.0.4
#  - address: 2.testnet.hedera.com:50211
#    account: 0.0.5
#  - address: 3.testnet.hedera.com:50211
#    account: 0.0.6
