appNet:
  signMessages: false
  encryptMessages: false
  rotateKeys: false
  rotateKeyFrequency: 0
  mirrorAddress: 127.0.0.1:8080

nodes:
  - address: 0.testnet.hedera.com:50211
    account: 0.0.3
# Commented out due to bug in java SDK
#  - address: 1.testnet.hedera.com:50211
#    account: 0.0.4
#  - address: 2.testnet.hedera.com:50211
#    account: 0.0.5
#  - address: 3.testnet.hedera.com:50211
#    account: 0.0.6
    
