appNet:
  signMessages: false
  encryptMessages: false
  rotateKeys: false
  kmsProvider: hedera
  mirrorAddress: 127.0.0.1:8080
relay:
  mirrorComms: grpc
pubSub:
  queueProvider: AMQP
  queueEndPoint: 127.0.0.1:5001
appInstances:
  - clientName: "Player 1"
    clientKey: "player 1 key"
  - clientName: "Player 2"
    clientKey: "player 2 key"
    
  