queue:
  iterations: 5 # 0 for infinite
  delayMillis: 1000 # delay between each message
  
  # Google pubsub
  pubsub:
     # set to false if you do not wish to use this service  
     enabled: false
     exchangeName: metal-cable-247011
     consumerTag: myPubSubConsumerTag
     producerTag: myPubSubProducerTag
     topicId: 0.0.700
  sqs:
     # set to false if you do not wish to use this service  
     enabled: false
     consumerTag: mySQSConsumerTag
     producerTag: mySQSProducerTag
     topicId: 0.0.800
  mq:     
     # set to false if you do not wish to use this service  
     enabled: false
     host: localhost
     port: 5672
     user: guest
     password: guest
     exchangeName: testExchange
     consumerTag: myMQConsumerTag
     producerTag: myMQProducerTag
     topicId: 0.0.900
  kafka:     
     # set to false if you do not wish to use this service  
     enabled: false
     host: localhost
     port: 9092
     consumerTag: myMQConsumerTag
     producerTag: myMQProducerTag
     topicId: 0.0.700
  